[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
mypy = "*"
setuptools = "*"
pytest-cov = "*"
coverage = "*"
coveralls = "*"
flake8 = "*"
pre-commit = "*"
tox = "*"

[packages]
stringcase = "*"
pytz = "*"
v = "*"

[requires]
python_version = "3.7"
